.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 20px 5px;
  background-color: rgba(230, 230, 230, .95);
  color: #1e3f80;
  box-shadow: 0 1px 5px #bbb;
}

.header-logo {
  animation: App-logo-spin infinite 16s linear;
  height: 40px;
  margin-right: 5px;
}

.header-text {
  text-transform: uppercase;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
